/*===== GOOGLE LATO FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;600;700&display=swap");

/*===== BOX ICONS =====*/
@import url("https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css");



/*========== root variable ==========*/
:root {
    //===== Font Size =====//
    --fs-a: 1.6rem;
    --fs-p: 1.6rem;
    --fs-h1: 2rem;
    --fs-h2: 1.6rem;

    //===== Font Weight =====//
    --fw-h1: 600;
    --fw-h2: 500;

    //====== Color =======//
    --color-primary: black;
    --color-secondary: #FBFEFD;
    --color-red: #EB1C22;
    --color-red-dark: #BB1C1C;
    --color-border: rgb(196, 195, 195);

    //===== Z index variable =====//
    //--z-tooltip: 10;
    --z-fixed: 100;

    //===== Margin variable =====//
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    --mb-8: 4rem;
    --mb-9: 4.5rem;
    --mb-10: 5rem;
    --nav-height-large: 7rem;
    --nav-height-small: 5rem;
}

/*========== Mixin ==========*/
@mixin style-link-text {
    text-decoration: none;
    text-transform: uppercase;
}

@mixin large-padding-margin-width {
    max-width: 102.4rem;
    margin: 0 auto;
    padding: 0 var(--mb-4) 0 var(--mb-4);
}

/*========== BASE ==========*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    line-height: 1.6;
}

ul {
    list-style: none;
    //padding: 0;
}

a {
    @include style-link-text;
}

h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-h1);
}

p {
    font-size: var(--fs-p);
    text-align: justify;
}

.header-1 {
    width: 100%;
    position: fixed;
    
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--color-primary);
}

  /*========== NAV ==========*/
.nav {
    @include large-padding-margin-width();
    height: var(--nav-height-large);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
        height: var(--nav-height-small);

        &__menu {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            padding: 1.5rem 0 1rem;
            text-align: center;
            background-color: var(--color-primary);
            transition: .4s;
            box-shadow: 0 4px 4px rgba(0,0,0,.1);
            border-radius: 0 0 1rem 1rem;
            z-index: var(--z-fixed);
        }
    }

    &__item {
        margin-bottom: var(--mb-2);
    }

    &__link,
    &__logo,
    &__toggle {
        color: var(--color-secondary);
        font-size: 1.6rem;
        font-weight: var(--fw-h1);
    }

    &__logo:hover {
        border-bottom: 2px solid var(--color-red);
    }

    &__link {
        transition: .3s;

        &:hover, &--active {
            border-bottom: 2px solid var(--color-red);
            padding-bottom: 3px;
        }
    }

    &__toggle {
        font-size: 2.5rem;
        cursor: pointer;
    }
}

/* Show menu */
.show-menu{
    top: 5rem;
}

@media screen and (min-width: 768px) {
    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-left: var(--mb-5);
        margin-bottom: 0;    
    }

    .nav__toggle{
        display: none;
      }
}

.header-2 {
    width: 100%;
    height: 5rem;
    background-color: var(--color-red);
    
    // position: absolute;
    margin-top: var(--nav-height-large);


    @media screen and (max-width: 768px) {
        margin-top: var(--nav-height-small);
        height: 3.5rem;
    }

    &__text {
        @include large-padding-margin-width();
        height: 100%;
        display: flex;
        align-items: center;

        a, p {
            font-size: var(--fs-p);
            font-weight: var(--fw-h2);
            color: var(--color-secondary);
            white-space: pre-line;
        }

        a {
            padding: var(--mb-1) var(--mb-2);
            background-color: var(--color-red)-dark;
            margin-right: var(--mb-4);
        }

        @media screen and (max-width: 768px) {
            a {
                padding: .1rem .9rem;
                font-size: 1.4rem;
            }
        }
    }
}

  /*========== SECTION 1 ==========*/
.section-1 {
    @include large-padding-margin-width();
    height: 40rem;

    display: flex;
    flex-wrap: wrap;

    &__col-1-of-2 {
        width: calc(100% / 2);
        
        background-size: cover;
        background-position: top;

        position: relative;
    }

    .bg-1 {
        background-image: url(../img/mars.JPG);
    }

    .bg-2 {
        background-image: url(../img/el-chapo.jpg);
    }

    &__text-box {
        position: absolute;
        bottom: 3rem;
        left: 2.5rem;

        color: var(--color-secondary);
        text-shadow: 1px 1px var(--color-primary);

        h1 {
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}

  /*========== SECTION 1 ==========*/
.section-2 { 
    @include large-padding-margin-width();
    margin-top: var(--mb-4);

    display: grid;
    grid-gap: var(--mb-3) var(--mb-4);

    
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-template-areas: "article1 article2 article3"
                         "article1 article2 article4"
                         "article1 article2 article5";
    

    @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "article3 article3"
                         "article4 article4"
                         "article5 article5"
                         "article1 article2";

    }

    .article-1 { grid-area: article1;}
    .article-2 { grid-area: article2;}
    .article-3 { grid-area: article3;}
    .article-4 { grid-area: article4;}
    .article-5 { grid-area: article5;}

    .article {
        border-bottom: 1px solid var(--color-border);
        padding-bottom: var(--mb-3);

        img {
            width: 100%;
        }

        h1 {
            margin-bottom: var(--mb-2);
        }

        &-3,&-4,&-5 {
            display: flex;
            
            img {
                width: 30%;
                height: 100%;
                margin-right: var(--mb-4);
            }
        }
    }
}

.footer {
    @include large-padding-margin-width();

    margin: var(--mb-8) auto;
    padding-bottom: calc(var(--mb-10) * 2);
    //padding-bottom: 9rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);

    position: relative;

    nav {
        width: 100%;
        //border-bottom: 1px solid var(--color-border);
        


    }

    &__main-ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__sub-ul {
        a {
            text-transform: initial;
            font-size: var(--fs-a);
        }
    }

    &__main-li {
        padding-top: var(--mb-6);
        margin-right: var(--mb-4);
        color: var(--color-secondary);
        
        &--heading {
            font-size: var(--fs-a);
            font-weight: var(--fw-h1);
        }
    }

    .social-icons {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
        margin-top: var(--mb-8);
    
        p {
            border-right: 1px solid var(--color-border);
            padding-right: var(--mb-6);
        }
    
        ul {
            display: flex;
            padding-left: var(--mb-6);
    
            .fa {
                width: 4rem;
                height: 4rem;
                margin-right: 1rem;
                font-size: 2rem;
                padding: 1rem;
                color: var(--color-secondary);
                border: 1px solid var(--color-border);
                border-radius: 50%;
    
                &:hover {
                    background-color: var(--color-secondary);
                    color: var(--color-primary);
                }
            }
        }
    }
}

