/*===== GOOGLE LATO FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;600;700&display=swap");

/*===== BOX ICONS =====*/
@import url("https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css");

/*===== Color Variables =====*/
$color-primary: black;
$color-secondary: #FBFEFD;
$color-red: #EB1C22;
$color-red-dark: #BB1C1C;

/*========== Margins Variables ==========*/
$mb-1: .5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;
$nav-height-large: 7rem;
$nav-height-small: 5rem;

/*========== z index Variables ==========*/
$z-tooltip: 10;
$z-fixed: 100;

/*========== root variable ==========*/
:root {
    --fs-a: 16rem;
    --fs-p: 1.6rem;
    --fs-h1: 2rem;
    --fs-h2: 1.6rem;

    --fw-h1: 600;
    --fw-h2: 500;
}

/*========== Mixin ==========*/
@mixin style-link-text {
    text-decoration: none;
    text-transform: uppercase;
}

@mixin large-padding-margin-width {
    max-width: 102.4rem;
    margin: 0 auto;
    padding: 0 $mb-4 0 $mb-4;
}

/*========== BASE ==========*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-family: 'Lato', sans-serif;
    background-color: $color-secondary;
    color: $color-primary;
    line-height: 1.6;
    //position: relative;
    padding-bottom: 20rem;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    @include style-link-text;
}

h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-h1);
}

p {
    font-size: var(--fs-p);
    text-align: justify;
}

.header-1 {
    width: 100%;
    position: fixed;
    
    top: 0;
    left: 0;
    z-index: $z-fixed;
    background-color: $color-primary;
}

  /*========== NAV ==========*/
.nav {
    @include large-padding-margin-width();
    height: $nav-height-large;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
        height: $nav-height-small;

        &__menu {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            padding: 1.5rem 0 1rem;
            text-align: center;
            background-color: $color-primary;
            transition: .4s;
            box-shadow: 0 4px 4px rgba(0,0,0,.1);
            border-radius: 0 0 1rem 1rem;
            z-index: $z-fixed;
        }
    }

    &__item {
        margin-bottom: $mb-2;
    }

    &__link,
    &__logo,
    &__toggle {
        color: $color-secondary;
        font-size: 1.6rem;
        font-weight: var(--fw-h1);
    }

    &__logo:hover {
        border-bottom: 2px solid $color-red;
    }

    &__link {
        transition: .3s;

        &:hover, &--active {
            border-bottom: 2px solid $color-red;
            padding-bottom: 3px;
        }
    }

    &__toggle {
        font-size: 2.5rem;
        cursor: pointer;
    }
}

/* Show menu */
.show-menu{
    top: 5rem;
}

@media screen and (min-width: 768px) {
    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-left: $mb-5;
        margin-bottom: 0;    
    }

    .nav__toggle{
        display: none;
      }
}

.header-2 {
    width: 100%;
    height: 5rem;
    background-color: $color-red;
    
    // position: absolute;
    margin-top: $nav-height-large;


    @media screen and (max-width: 768px) {
        margin-top: $nav-height-small;
        height: 3.5rem;
    }

    &__text {
        @include large-padding-margin-width();
        height: 100%;
        display: flex;
        align-items: center;

        a, p {
            font-size: var(--fs-p);
            font-weight: var(--fw-h2);
            color: $color-secondary;
            white-space: pre-line;
        }

        a {
            padding: $mb-1 $mb-2;
            background-color: $color-red-dark;
            margin-right: $mb-4;
        }

        @media screen and (max-width: 768px) {
            a {
                padding: .1rem .9rem;
                font-size: 1.4rem;
            }
        }
    }
}

  /*========== SECTION 1 ==========*/
.section-1 {
    @include large-padding-margin-width();
    height: 40rem;

    display: flex;
    flex-wrap: wrap;

    &__col-1-of-2 {
        width: calc(100% / 2);
        
        background-size: cover;
        background-position: top;

        position: relative;
    }

    .bg-1 {
        background-image: url(../img/mars.JPG);
    }

    .bg-2 {
        background-image: url(../img/el-chapo.jpg);
    }

    &__text-box {
        position: absolute;
        bottom: 3rem;
        left: 2.5rem;

        color: $color-secondary;
        text-shadow: 1px 1px $color-primary;

        h1 {
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}

  /*========== SECTION 1 ==========*/
.section-2 {
    // border: 1px solid red;
    // max-width: 96rem;
    // height: 20rem;
    
    @include large-padding-margin-width();
    margin-top: $mb-4;

    display: grid;
    grid-gap: $mb-3 $mb-4;

    
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-template-areas: "article1 article2 article3"
                         "article1 article2 article4"
                         "article1 article2 article5";
    

    @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "article3 article3"
                         "article4 article4"
                         "article5 article5"
                         "article1 article2";

    }

    .article-1 { grid-area: article1;}
    .article-2 { grid-area: article2;}
    .article-3 { grid-area: article3;}
    .article-4 { grid-area: article4;}
    .article-5 { grid-area: article5;}

    .article {
        border-bottom: 1px solid rgb(196, 195, 195);
        padding-bottom: $mb-3;

        img {
            width: 100%;
        }

        h1 {
            margin-bottom: $mb-2;
        }

        &-3,&-4,&-5 {
            display: flex;
            
            img {
                width: 30%;
                min-height: 100%;
                margin-right: $mb-4;
            }
        }
    }
}
